

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    
    background-size: cover;
    align-items: center;
    justify-content: center;
    background:whitesmoke;
    display: flex;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #03ae92;
    border-radius: 5px;
}
.label{
    padding: 20px 130px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}
.login_form{
    padding: 20px 40px;
}
.login_form .font{
    font-size: 18px;
    color: #ffffff;
    margin: 5px 0;
}
.login_form .font{
    font-size: 18px;
    color: #fcfcfc;
    margin: 5px 0;
}
.login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
    font-weight: bold;
}
.login_form .font2{
    margin-top: 30px;
}
.login_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #efefef;
    border-radius: 3px;
    border: 1px solid #ebebeb;

}
.login_form button:hover{
    background: #ffffff;
}
.login_form #email_error,
.login_form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #ec0707;
    background: rgba(194, 165, 165, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    display: none;
}
