

*{
   margin: 0;
   padding: 0%;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
body{
   width: 100vw;
   height: 50vh;
   background-color: #ffffff;
   display: grid;
   place-items: center;
}
.container{
   background-color: #03ae92;
   width: 500px;
   padding: 10px;
   border-radius: px;
   color: #f8f8f8;

}
.container h3{
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.form{
  padding: 30px 40px;
}
.form-group{
  color: #ffffff;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.form-group label{
  margin-bottom: 5px;
  display: block;
  color: #ffffff;
  font-weight: 500;
}
.form-group input{
  border: 2px solid #ffffff;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
}
.form-group p{
  font-size: 12px;
  margin-top: 5px;
  visibility: hidden;
}

.form button{
  width: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #ffffff;
  border-radius: 5px;
}
.form-group.error p{
  color: #f53b57;
  visibility: visible;
}
.form-group.error input{
  border-color: #f53b57;
}
.form-group.success input{
  border-color:none;
}
a button{
  width:25% ;
  padding: 10px;
  border: 2px solid #f8f8f8;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  left: 36px;
  
}

